<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuario:</label>
                    <input type="text" class="form-control" id="usuario" value="{{ userName }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje:</label>
                    <input 
                    [(ngModel)]="sentMessage" 
                    type="textarea" 
                    class="form-control" 
                    name="sentMessage" 
                    id="sentMessage" 
                    rows="3">
                </div>
                <button (click)="sendMessage(userName)" type="button" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>